# Pathrise suceess rate prediction

## EDA and Visualization

### import requiered libraries

In [46]:
import numpy as np 

import pandas as pd 

import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

### Read the pathrise dataset into a Pandas dataframe and print it

In [47]:
df = pd.read_excel('Data_Pathrise.xlsx')
df

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,1,Active,SWE,OCT19A,NaN,0,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,2,Active,PSO,JAN20A,NaN,0,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,3,Closed Lost,Design,AUG19B,0.0,0,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,4,Closed Lost,PSO,AUG19B,0.0,0,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,5,Placed,SWE,AUG19A,89.0,1,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,2540,Withdrawn (Failed),Design,JUN18A,457.0,0,Contractor,Master's Degree,6 months to a year,Technical interviewing,5+ years,Citizen,4.0,15,Male,Non-Hispanic White or Euro-American
2540,2541,Withdrawn (Failed),Data,JAN19B,488.0,0,NaN,Master's Degree,3-5 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,1.0,7,Male,Non-Hispanic White or Euro-American
2541,2542,Active,SWE,SEP18C,NaN,0,Contractor,Bachelor's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,1.0,30,Female,Non-Hispanic White or Euro-American
2542,2543,Active,SWE,MAY18A,NaN,0,NaN,Master's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,2.0,10,Male,Decline to Self Identify
2543,2544,Withdrawn,SWE,OCT19A,285.0,0,Student,Master's Degree,1-2 months,Hearing back on my applications,1-2 years,Green Card,3.0,70,Male,Non-Hispanic White or Euro-American

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [69]:
df['employment_status']

KeyError: 'employment_status'

In [75]:
df.columns[[6]]

Index(['employment_status '], dtype='object')

In [79]:
df.columns

Index(['id', 'pathrise_status', 'primary_track', 'cohort_tag',
       'program_duration_days', 'placed', 'employment_status ',
       'highest_level_of_education', 'length_of_job_search',
       'biggest_challenge_in_search', 'professional_experience',
       'work_authorization_status', 'number_of_interviews',
       'number_of_applications', 'gender', 'race'],
      dtype='object')

In [81]:
df['employment_status ']

0               Unemployed
1               Unemployed
2       Employed Part-Time
3               Contractor
4               Unemployed
               ...
2539            Contractor
2540                   NaN
2541            Contractor
2542                   NaN
2543               Student
Name: employment_status , Length: 2544, dtype: object

In [73]:
df.get('pathrise_status',default=0)

0                   Active
1                   Active
2              Closed Lost
3              Closed Lost
4                   Placed
               ...
2539    Withdrawn (Failed)
2540    Withdrawn (Failed)
2541                Active
2542                Active
2543             Withdrawn
Name: pathrise_status, Length: 2544, dtype: object

In [48]:
df1=df.drop(['pathrise_status','id','placed','program_duration_days'],axis=1)

In [10]:
df1

,primary_track,cohort_tag,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,SWE,OCT19A,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,PSO,JAN20A,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,Design,AUG19B,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,PSO,AUG19B,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,SWE,AUG19A,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American
...,...,...,...,...,...,...,...,...,...,...,...,...
2539,Design,JUN18A,Contractor,Master's Degree,6 months to a year,Technical interviewing,5+ years,Citizen,4.0,15,Male,Non-Hispanic White or Euro-American
2540,Data,JAN19B,NaN,Master's Degree,3-5 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,1.0,7,Male,Non-Hispanic White or Euro-American
2541,SWE,SEP18C,Contractor,Bachelor's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,1.0,30,Female,Non-Hispanic White or Euro-American
2542,SWE,MAY18A,NaN,Master's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,2.0,10,Male,Decline to Self Identify
2543,SWE,OCT19A,Student,Master's Degree,1-2 months,Hearing back on my applications,1-2 years,Green Card,3.0,70,Male,Non-Hispanic White or Euro-American

### Let's try to explore the details of data frame

In [49]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                2544 non-null   object
 1   cohort_tag                   2536 non-null   object
 2   employment_status            2315 non-null   object
 3   highest_level_of_education   2486 non-null   object
 4   length_of_job_search         2470 non-null   object
 5   biggest_challenge_in_search  2520 non-null   object
 6   professional_experience      2322 non-null   object
 7   work_authorization_status    2260 non-null   object
 8   number_of_interviews         2326 non-null   float64
 9   number_of_applications       2544 non-null   int64
 10  gender                       2052 non-null   object
 11  race                         2526 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 238.6+ KB

### Deal with missing values

#### 1.Drop the whole row

In [50]:
df1_row=df1.dropna(axis=0)

In [51]:
df1_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                1316 non-null   object
 1   cohort_tag                   1316 non-null   object
 2   employment_status            1316 non-null   object
 3   highest_level_of_education   1316 non-null   object
 4   length_of_job_search         1316 non-null   object
 5   biggest_challenge_in_search  1316 non-null   object
 6   professional_experience      1316 non-null   object
 7   work_authorization_status    1316 non-null   object
 8   number_of_interviews         1316 non-null   float64
 9   number_of_applications       1316 non-null   int64
 10  gender                       1316 non-null   object
 11  race                         1316 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 133.7+ KB

### Dummy Variables

In [82]:
df['employment_status ']

0               Unemployed
1               Unemployed
2       Employed Part-Time
3               Contractor
4               Unemployed
               ...
2539            Contractor
2540                   NaN
2541            Contractor
2542                   NaN
2543               Student
Name: employment_status , Length: 2544, dtype: object

In [18]:
dummy_1=pd.get_dummies(df1_row['primary_track'])

In [19]:
dummy_1

      Data  Design  PSO  SWE  Web
0        0       0    0    1    0
1        0       0    1    0    0
2        0       1    0    0    0
3        0       0    1    0    0
4        0       0    0    1    0
...    ...     ...  ...  ...  ...
2534     0       0    0    1    0
2538     0       0    0    1    0
2539     0       1    0    0    0
2541     0       0    0    1    0
2543     0       0    0    1    0

[1316 rows x 5 columns]

In [23]:
dummy_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    1316 non-null   uint8
 1   Design  1316 non-null   uint8
 2   PSO     1316 non-null   uint8
 3   SWE     1316 non-null   uint8
 4   Web     1316 non-null   uint8
dtypes: uint8(5)
memory usage: 16.7 KB

In [20]:
dummy_2=pd.get_dummies(df1_row['cohort_tag'])

In [ ]:
dummy_3=pd.get_dummies(df1_row['cohort_tag'])

In [21]:
dummy_2

,APR18A,APR18B,APR19A,APR19B,APR20A,AUG18A,AUG19A,AUG19B,AUG19C,DEC18A,...,OCT18A,OCT18B,OCT19A,OCT19B,OCT21A,SEP18A,SEP18B,SEP18C,SEP19A,SEP19B
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2538,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2543,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [22]:
dummy_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Data columns (total 47 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   APR18A  1316 non-null   uint8
 1   APR18B  1316 non-null   uint8
 2   APR19A  1316 non-null   uint8
 3   APR19B  1316 non-null   uint8
 4   APR20A  1316 non-null   uint8
 5   AUG18A  1316 non-null   uint8
 6   AUG19A  1316 non-null   uint8
 7   AUG19B  1316 non-null   uint8
 8   AUG19C  1316 non-null   uint8
 9   DEC18A  1316 non-null   uint8
 10  DEC19A  1316 non-null   uint8
 11  FEB18A  1316 non-null   uint8
 12  FEB19A  1316 non-null   uint8
 13  FEB19B  1316 non-null   uint8
 14  FEB20A  1316 non-null   uint8
 15  FEB20B  1316 non-null   uint8
 16  FEB20a  1316 non-null   uint8
 17  JAN18A  1316 non-null   uint8
 18  JAN19A  1316 non-null   uint8
 19  JAN19B  1316 non-null   uint8
 20  JAN20A  1316 non-null   uint8
 21  JAN20B  1316 non-null   uint8
 22  JUL19A  1316 non-null   uint8
 23  JUL19B  1316 non-null   uint8
 24  JUN18A  1316 non-null   uint8
 25  JUN19A  1316 non-null   uint8
 26  JUN19B  1316 non-null   uint8
 27  MAR18A  1316 non-null   uint8
 28  MAR19A  1316 non-null   uint8
 29  MAR19B  1316 non-null   uint8
 30  MAR20A  1316 non-null   uint8
 31  MAY18A  1316 non-null   uint8
 32  MAY19A  1316 non-null   uint8
 33  MAY19B  1316 non-null   uint8
 34  NOV18A  1316 non-null   uint8
 35  NOV19A  1316 non-null   uint8
 36  NOV19B  1316 non-null   uint8
 37  OCT18A  1316 non-null   uint8
 38  OCT18B  1316 non-null   uint8
 39  OCT19A  1316 non-null   uint8
 40  OCT19B  1316 non-null   uint8
 41  OCT21A  1316 non-null   uint8
 42  SEP18A  1316 non-null   uint8
 43  SEP18B  1316 non-null   uint8
 44  SEP18C  1316 non-null   uint8
 45  SEP19A  1316 non-null   uint8
 46  SEP19B  1316 non-null   uint8
dtypes: uint8(47)
memory usage: 70.7 KB

In [37]:
df1_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                1316 non-null   object
 1   cohort_tag                   1316 non-null   object
 2   employment_status            1316 non-null   object
 3   highest_level_of_education   1316 non-null   object
 4   length_of_job_search         1316 non-null   object
 5   biggest_challenge_in_search  1316 non-null   object
 6   professional_experience      1316 non-null   object
 7   work_authorization_status    1316 non-null   object
 8   number_of_interviews         1316 non-null   float64
 9   number_of_applications       1316 non-null   int64
 10  gender                       1316 non-null   object
 11  race                         1316 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 133.7+ KB

In [38]:
df1_row

,primary_track,cohort_tag,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,SWE,OCT19A,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,PSO,JAN20A,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,Design,AUG19B,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,PSO,AUG19B,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,SWE,AUG19A,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American
...,...,...,...,...,...,...,...,...,...,...,...,...
2534,SWE,MAR20A,Employed Full-Time,Bachelor's Degree,1-2 months,Getting past phone screens,1-2 years,Citizen,0.0,10,Male,South Asian or Indian American
2538,SWE,JUL19B,Employed Part-Time,Master's Degree,Less than one month,Lack of relevant experience,5+ years,Other,1.0,25,Decline to Self Identify,Middle Eastern or Arab American
2539,Design,JUN18A,Contractor,Master's Degree,6 months to a year,Technical interviewing,5+ years,Citizen,4.0,15,Male,Non-Hispanic White or Euro-American
2541,SWE,SEP18C,Contractor,Bachelor's Degree,Less than one month,Technical interviewing,1-2 years,Citizen,1.0,30,Female,Non-Hispanic White or Euro-American
2543,SWE,OCT19A,Student,Master's Degree,1-2 months,Hearing back on my applications,1-2 years,Green Card,3.0,70,Male,Non-Hispanic White or Euro-American

In [126]:
df1_row.columns[[0]]

Index(['primary_track'], dtype='object')

In [89]:
df1_row_dummy=pd.get_dummies(df1_row[['primary_track','cohort_tag','employment_status ','highest_level_of_education','length_of_job_search','biggest_challenge_in_search','professional_experience','work_authorization_status', 'number_of_interviews',
       'number_of_applications', 'gender', 'race']])

In [90]:
df1_row_dummy

,number_of_interviews,number_of_applications,primary_track_Data,primary_track_Design,primary_track_PSO,primary_track_SWE,primary_track_Web,cohort_tag_APR18A,cohort_tag_APR18B,cohort_tag_APR19A,...,gender_Male,gender_Non-Binary,"race_Black, Afro-Caribbean, or African American",race_Decline to Self Identify,race_East Asian or Asian American,race_Latino or Hispanic American,race_Middle Eastern or Arab American,race_Non-Hispanic White or Euro-American,race_South Asian or Indian American,race_Two or More Races
0,2.0,900,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,6.0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,0.0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,5.0,25,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,10.0,100,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534,0.0,10,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2538,1.0,25,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2539,4.0,15,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2541,1.0,30,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2543,3.0,70,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [124]:
df1_row_dummy.columns[[0]]

Index(['number_of_interviews'], dtype='object')

In [125]:
df1_row_dummy.columns[[1]]

Index(['number_of_applications'], dtype='object')

In [127]:
df1_row_dummy.columns[[2]]

Index(['primary_track_Data'], dtype='object')

In [94]:
df1_row_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Columns: 106 entries, number_of_interviews to race_Two or More Races
dtypes: float64(1), int64(1), uint8(104)
memory usage: 164.5 KB

In [102]:
len(df1_row_dummy.columns)

106

In [123]:
df1_row_dummy.columns

Index(['number_of_interviews', 'number_of_applications', 'primary_track_Data',
       'primary_track_Design', 'primary_track_PSO', 'primary_track_SWE',
       'primary_track_Web', 'cohort_tag_APR18A', 'cohort_tag_APR18B',
       'cohort_tag_APR19A',
       ...
       'gender_Male', 'gender_Non-Binary',
       'race_Black, Afro-Caribbean, or African American',
       'race_Decline to Self Identify', 'race_East Asian or Asian American',
       'race_Latino or Hispanic American',
       'race_Middle Eastern or Arab American',
       'race_Non-Hispanic White or Euro-American',
       'race_South Asian or Indian American', 'race_Two or More Races'],
      dtype='object', length=106)

In [105]:
df1_row_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 2543
Columns: 106 entries, number_of_interviews to race_Two or More Races
dtypes: float64(1), int64(1), uint8(104)
memory usage: 164.5 KB

In [128]:
df1_row_dummy.to_csv('preprocessed_pathrise.csv')