# Pathrise Project

# knn with Python


## Import Libraries
Let's import some libraries to get started!

In [1]:
import pandas as pd

## The Data

In [2]:
df = pd.read_csv('preprocessed_pathrise.csv')
df_orig=pd.read_excel('Data_Pathrise.xlsx')

In [3]:
df.head()

,Unnamed: 0,number_of_interviews,number_of_applications,primary_track_Data,primary_track_Design,primary_track_PSO,primary_track_SWE,primary_track_Web,cohort_tag_APR18A,cohort_tag_APR18B,...,gender_Male,gender_Non-Binary,"race_Black, Afro-Caribbean, or African American",race_Decline to Self Identify,race_East Asian or Asian American,race_Latino or Hispanic American,race_Middle Eastern or Arab American,race_Non-Hispanic White or Euro-American,race_South Asian or Indian American,race_Two or More Races
0,0,2.0,900,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1,6.0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,2,0.0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,3,5.0,25,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,4,10.0,100,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [4]:
df_orig.head()

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,1,Active,SWE,OCT19A,NaN,0,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,2,Active,PSO,JAN20A,NaN,0,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,3,Closed Lost,Design,AUG19B,0.0,0,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,4,Closed Lost,PSO,AUG19B,0.0,0,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,5,Placed,SWE,AUG19A,89.0,1,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American

In [5]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [6]:
df_orig.columns

Index(['id', 'pathrise_status', 'primary_track', 'cohort_tag',
       'program_duration_days', 'placed', 'employment_status ',
       'highest_level_of_education', 'length_of_job_search',
       'biggest_challenge_in_search', 'professional_experience',
       'work_authorization_status', 'number_of_interviews',
       'number_of_applications', 'gender', 'race'],
      dtype='object')

In [7]:
df.insert(loc=107,
          column='Placed',
          value=df_orig['placed'])

In [8]:
df.columns

Index(['Unnamed: 0', 'number_of_interviews', 'number_of_applications',
       'primary_track_Data', 'primary_track_Design', 'primary_track_PSO',
       'primary_track_SWE', 'primary_track_Web', 'cohort_tag_APR18A',
       'cohort_tag_APR18B',
       ...
       'gender_Non-Binary', 'race_Black, Afro-Caribbean, or African American',
       'race_Decline to Self Identify', 'race_East Asian or Asian American',
       'race_Latino or Hispanic American',
       'race_Middle Eastern or Arab American',
       'race_Non-Hispanic White or Euro-American',
       'race_South Asian or Indian American', 'race_Two or More Races',
       'Placed'],
      dtype='object', length=108)

# Exploratory Data Analysis

Let's begin some exploratory data analysis! We'll start by checking out missing data!

## Missing Data

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Columns: 108 entries, Unnamed: 0 to Placed
dtypes: float64(1), int64(107)
memory usage: 1.1 MB

In [10]:
df.columns[[106]]

Index(['race_Two or More Races'], dtype='object')

In [11]:
df.isnull()

,Unnamed: 0,number_of_interviews,number_of_applications,primary_track_Data,primary_track_Design,primary_track_PSO,primary_track_SWE,primary_track_Web,cohort_tag_APR18A,cohort_tag_APR18B,...,gender_Non-Binary,"race_Black, Afro-Caribbean, or African American",race_Decline to Self Identify,race_East Asian or Asian American,race_Latino or Hispanic American,race_Middle Eastern or Arab American,race_Non-Hispanic White or Euro-American,race_South Asian or Indian American,race_Two or More Races,Placed
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1312,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1313,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1314,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1315,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Unnamed: 0                                  0
number_of_interviews                        0
number_of_applications                      0
primary_track_Data                          0
primary_track_Design                        0
                                           ..
race_Middle Eastern or Arab American        0
race_Non-Hispanic White or Euro-American    0
race_South Asian or Indian American         0
race_Two or More Races                      0
Placed                                      0
Length: 108, dtype: int64

# Define X , y

In [13]:
X=df.drop('Placed',axis=1)
y=df['Placed']



# Building a knn model

Let's start by splitting our data into a training set and test set.
## Train Test Split

In [14]:
! pip install sklearn

Requirement already satisfied: sklearn in c:\users\asus\anaconda3\lib\site-packages (0.0.post1)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, test_size=0.20, 
                                                    random_state=101)

## Training and Predicting

In [17]:
# K Nearest Neighbors classification algorithm
from sklearn.neighbors import KNeighborsClassifier

In [20]:
knn = KNeighborsClassifier(n_neighbors=10)

In [25]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [26]:
predictions = knn.predict(X_test)

In [30]:
predictions

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [31]:
y_test

898     1
954     0
347     1
1276    0
1312    0
       ..
686     1
1195    0
416     0
740     1
665     1
Name: Placed, Length: 264, dtype: int64

Let's move on to evaluate our model!

## Evaluation

Let's bring Confusion Matrix!

In [32]:
from sklearn.metrics import confusion_matrix

In [33]:
confusion_matrix(y_test,predictions)

array([[139,  23],
       [ 87,  15]], dtype=int64)

We can check precision,recall,f1-score using classification report!

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_test,predictions, normalize=False)

154

In [36]:
accuracy_score(y_test,predictions, normalize=True)

0.5833333333333334

In [37]:
from sklearn.metrics import classification_report

In [38]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.62      0.86      0.72       162
           1       0.39      0.15      0.21       102

    accuracy                           0.58       264
   macro avg       0.50      0.50      0.47       264
weighted avg       0.53      0.58      0.52       264